<!DOCTYPE html>
<html>
<head>
	<title>TODO: Frontpage Title</title>
</head>
<body>
	<p>
		TODO: Explanation of the project.
	</p>

	<form action="{{ url_for('predict') }}" method="post", enctype="multipart/form-data">
		{{ input_form.csrf_token }}
		{{ input_form.image.label }} {{ input_form.image() }}
		<button type=submit>Submit Image</button>
	</form>
</body>
</html>
