<!DOCTYPE html>
<html>
<head>
	<title>TODO: Result Title</title>
</head>
<body>
	<!--<img src="{{ image_url }}"></img>-->
	<p>The following input image</p>
	<img src="/image/{{ image_filename }}"></img>
	<p>gave a result of:</p>
	<p>{{ result }}</p>

</body>
</html>
